# <shift+h> to switch the the highlight mode
toggle_select_highlight          H

# <ctrl+h> with e.g. <shift+r> to keep doing underline in red
set_select_highlight_type        <C-h>

# keep underline in red
# toggle_select_highlight;set_select_highlight_type(R) U

# mac preview style, ctrl+command+u/h
toggle_select_highlight;set_select_highlight_type(R) <C-D-u>
toggle_select_highlight;set_select_highlight_type(g) <C-D-h>


# keep highlight
toggle_select_highlight;set_select_highlight_type(y) <C-y>
toggle_select_highlight;set_select_highlight_type(g) <C-g>
toggle_select_highlight;set_select_highlight_type(b) <C-b>
toggle_select_highlight;set_select_highlight_type(r) <C-r>

# export annotations to a new file
embed_annotations         <C-e>

goto_tab        T
