shared_database_path        sync-config/sioyek/shared.db

visual_mark_color        0.0 1.0 0.0 1.0
ruler_mode        1
super_fast_search        1
should_launch_new_window        1

# startup_commands        toggle_scrollbar;toggle_dark_mode
startup_commands         toggle_scrollbar

inverse_search_command "/usr/bin/code" --ms-enable-electron-run-as-node -r -g "%1:%2"

google_scholar_address  https://scholar.google.com/scholar?q=
libgen_address          https://libgen.rs/scimag/?q=
search_url_l            https://libgen.rs/scimag/?q=
search_url_a            https://arxiv.org/search/?searchtype=all&abstracts=show&size=200&query=
search_url_g            https://www.google.com/search?q=
search_url_d            https://duckduckgo.com/?q=
search_url_b            https://www.bing.com/search?q=
search_url_w            https://wikipedia.org/w/index.php?search=
search_url_c            https://www.crossref.org/site-search/?query=
middle_click_search_engine s
shift_middle_click_search_engine l

