# this file is about cross platform setting
# platform specific settings like file path under MacOS,
# should be set at other config location (based on sioyek CLI output)

shared_database_path        ~/sync-config/sioyek/shared.db
inverse_search_command "/usr/local/bin/code" --ms-enable-electron-run-as-node -r -g "%1:%2"

#custom_background_color              0.1 0.1 0.01
#custom_text_color                    1.0 1.0 1.0
#visual_mark_color        0.0 1.0 0.0 0.3
# ruler_mode        1
ruler_color        0.0 1.0 0.0
super_fast_search        1
should_launch_new_window        1

startup_commands           toggle_dark_mode
# startup_commands         toggle_scrollbar

google_scholar_address  https://scholar.google.com/scholar?q=
libgen_address          https://libgen.rs/scimag/?q=
search_url_l            https://libgen.rs/scimag/?q=
search_url_a            https://arxiv.org/search/?searchtype=all&abstracts=show&size=200&query=
search_url_g            https://www.google.com/search?q=
search_url_d            https://duckduckgo.com/?q=
search_url_b            https://www.bing.com/search?q=
search_url_w            https://wikipedia.org/w/index.php?search=
search_url_c            https://www.crossref.org/site-search/?query=
search_url_n            https://annas-archive.org/search?q=
# translation
search_url_y            https://www.youdao.com/result?lang=en&word=

# for name of papers/books
middle_click_search_engine y
shift_middle_click_search_engine a

