shared_database_path        sync-config/sioyek/shared.db

visual_mark_color        0.0  1.0  0.0  1.0
ruler_mode        1
super_fast_search        1
should_launch_new_window        1

# startup_commands        toggle_scrollbar;toggle_dark_mode
startup_commands         toggle_scrollbar

inverse_search_command "/usr/bin/code" --ms-enable-electron-run-as-node -r -g "%1:%2"
